body, html {
    height: 100%;
}
img {
    background-image: url("~assets/jayson-hinrichsen-zc3Z0fmZLHA-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 1% 100%;
    flex: 1;
    height: 100vw; 
    display: 100vh;
    
}