/* meyer style reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* asap font fetched from google fonts */

@font-face {
    font-family: asap;
    src: url(assets/Asap-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: asap-italic;
    src: url(assets/Asap-Italic-VariableFont_wdth\,wght.ttf);
}

i {
    font-family: asap-italic;
    font-weight: bold;
}

.main_container {
    display: flex;
    min-width: none;
    overflow: auto;
    width: fit-content;
    }

/*side background image section*/

.side_picture{
max-height: 100vh;
}

img {
    max-width: auto;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
}

.main_content {
    margin: 150px 200px 0px 50px;
    font-family: asap;
    font-size: 20px;
}

form {
    margin: 50px 0px ;
    min-width: 200px;
}

.row {
    display: flex;
    overflow: none;
    padding-top: 20px;
}

#first_name {
    position: relative;
    margin-left: -55px;
}
#last_name {
    position: relative;
    margin-left: -55px;
}
#email {
    position: relative;
    margin-left: -28px;
}
#phone_number {
    position: relative;
    margin-left: -78px;
}

#password {
    position: relative;
    margin-left: -47px;
}

#confirm_password {
    position: relative;
    margin-left: -95px;
}

#labellast, #labelphone, #labelconfirm {
    margin-left: 100px;
}

input {
    border: 1px solid rgb(184, 184, 184);
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 10px; 
    outline: none;
 
}

input:focus {
    border: 1px solid rgb(0, 0, 0);
}
  
input:valid {
    border-color: green;
}

/* sign up button styling*/
.btn {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn:focus {
  outline: 1px transparent;
}

.btn:before {
  display: none;
}

/* label styling */
label {
    position: relative;
    padding: 5px 0;
    font-size: 14px;
    font-size: 0.75rem;
    font-weight: bold;
    top: -20px;
    left: px;
    justify-content: space-evenly;
    color: #7e7e7e;
    min-height: max-content;
}