/* meyer style reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* asap font fetched from google fonts */

@font-face {
    font-family: asap;
    src: url(assets/Asap-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: asap-italic;
    src: url(assets/Asap-Italic-VariableFont_wdth\,wght.ttf);
}

i {
    font-family: asap-italic;
    font-weight: bold;
}

.main_container {
    display: flex;
}

/*side background image section*/
img {
    max-width: auto;
    max-height: 100vh;
}

.main_content {
    margin: 150px 200px 200px 50px;
    font-family: asap;
    font-size: 20px;
}

form {
    display: inline-block;
    margin: 50px 0px 100px;
    justify-content: space-between
}

.first, .second, .third {
    display: flex;
}

input {
    border: 1px solid rgb(184, 184, 184);
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 10px; 
    outline: none;
 
}

input:focus {
    border: 1px solid rgb(0, 0, 0);
}
  
input:valid {
    border-color: green;
}

.first, .second, .third {
    position: relative;
    min-height: 0px;
    padding: 20px 0px 0px 0px;
}

label {
    position: relative;
    padding: 5px 0;
    font-size: 14px;
    font-size: 0.75rem;
    font-weight: bold;
    top: -20px;
    left: 50px;
    color: #000000;}